<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enableExternalPublishing</key>
	<false/>
	<key>hardDiskTotalSize</key>
	<integer>3364572</integer>
	<key>keyboardAndMouseProfile</key>
	<string></string>
	<key>lastPoweredViewMode</key>
	<integer>1</integer>
	<key>name</key>
	<string>empty</string>
	<key>powerOnAtStartup</key>
	<false/>
	<key>reclaimableSize</key>
	<integer>0</integer>
	<key>shouldFullscreenOnAllHostDisplays</key>
	<false/>
	<key>shouldHideFullScreenMenuBar</key>
	<false/>
	<key>singleWindowFrame</key>
	<string>{{0, 0}, {0, 0}}</string>
	<key>snapshotsSize</key>
	<integer>0</integer>
	<key>snapshotsVMDKSize</key>
	<integer>0</integer>
	<key>startMenu</key>
	<dict>
		<key>allPrograms</key>
		<array/>
		<key>bottomMenu</key>
		<array>
			<dict>
				<key>submenuInfoArray</key>
				<array>
					<dict>
						<key>action</key>
						<string>currentPowerState:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Linux is off</string>
					</dict>
					<dict>
						<key>separatorItem</key>
						<true/>
					</dict>
					<dict>
						<key>action</key>
						<string>vmTogglePowerOnSuspend:</string>
						<key>altMenuItem</key>
						<dict>
							<key>action</key>
							<string>vmTogglePowerOnSuspendAlt:</string>
							<key>title</key>
							<string>Force Start Up</string>
						</dict>
						<key>title</key>
						<string>Start Up</string>
					</dict>
					<dict>
						<key>action</key>
						<string>vmPowerReset:</string>
						<key>altMenuItem</key>
						<dict>
							<key>action</key>
							<string>vmPowerResetAlt:</string>
							<key>enabled</key>
							<false/>
							<key>title</key>
							<string>Force Restart</string>
						</dict>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Restart</string>
					</dict>
					<dict>
						<key>action</key>
						<string>vmPowerOff:</string>
						<key>altMenuItem</key>
						<dict>
							<key>action</key>
							<string>vmPowerOffAlt:</string>
							<key>enabled</key>
							<false/>
							<key>title</key>
							<string>Force Shut Down</string>
						</dict>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Shut Down</string>
					</dict>
					<dict>
						<key>separatorItem</key>
						<true/>
					</dict>
					<dict>
						<key>action</key>
						<string>togglePause:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Pause</string>
					</dict>
					<dict>
						<key>separatorItem</key>
						<true/>
					</dict>
					<dict>
						<key>action</key>
						<string>showVMSettings:</string>
						<key>title</key>
						<string>Settings...</string>
					</dict>
					<dict>
						<key>submenuInfoArray</key>
						<array>
							<dict>
								<key>action</key>
								<string>showSnapshots:</string>
								<key>title</key>
								<string>Snapshots...</string>
							</dict>
							<dict>
								<key>action</key>
								<string>takeSnapshot:</string>
								<key>title</key>
								<string>Take Snapshot</string>
							</dict>
							<dict>
								<key>action</key>
								<string>revertToParentSnapshot:</string>
								<key>enabled</key>
								<false/>
								<key>title</key>
								<string>Restore Snapshot...</string>
							</dict>
						</array>
						<key>title</key>
						<string>Snapshots</string>
					</dict>
					<dict>
						<key>action</key>
						<string>showVMInfo:</string>
						<key>title</key>
						<string>Get Info...</string>
					</dict>
					<dict>
						<key>separatorItem</key>
						<true/>
					</dict>
					<dict>
						<key>submenuInfoArray</key>
						<array>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>338</integer>
								<key>title</key>
								<string>Help</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>327</integer>
								<key>title</key>
								<string>Home</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>335</integer>
								<key>title</key>
								<string>End</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>339</integer>
								<key>title</key>
								<string>⌦ (Forward Delete)</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>58</integer>
								<key>title</key>
								<string>Caps Lock</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>69</integer>
								<key>title</key>
								<string>Clear (Num Lock)</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>70</integer>
								<key>title</key>
								<string>Scroll Lock</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>311</integer>
								<key>title</key>
								<string>Print Scrn</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>256</integer>
								<key>title</key>
								<string>Pause Key</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>326</integer>
								<key>title</key>
								<string>Break</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>349</integer>
								<key>title</key>
								<string>Menu</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>66</integer>
								<key>title</key>
								<string>F8</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>67</integer>
								<key>title</key>
								<string>F9</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>68</integer>
								<key>title</key>
								<string>F10</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>87</integer>
								<key>title</key>
								<string>F11</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>88</integer>
								<key>title</key>
								<string>F12</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>100</integer>
								<key>title</key>
								<string>F13</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>101</integer>
								<key>title</key>
								<string>F14</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>102</integer>
								<key>title</key>
								<string>F15</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>103</integer>
								<key>title</key>
								<string>F16</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>121</integer>
								<key>title</key>
								<string>変換 (Henkan)</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>123</integer>
								<key>title</key>
								<string>無変換 (Muhenkan)</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onSendKey:</string>
								<key>enabled</key>
								<false/>
								<key>tag</key>
								<integer>112</integer>
								<key>title</key>
								<string>ひらがな (Hiragana)</string>
							</dict>
						</array>
						<key>title</key>
						<string>Send Key</string>
					</dict>
					<dict>
						<key>action</key>
						<string>sendCtrlAltDel:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Send Ctrl-Alt-Del</string>
					</dict>
					<dict>
						<key>submenuInfoArray</key>
						<array>
							<dict>
								<key>action</key>
								<string>disconnectDeviceItemWithKey:</string>
								<key>representedObject</key>
								<string>ethernet0</string>
								<key>title</key>
								<string>Disconnect Network Adapter</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>setHostIFForDeviceItemWithKey:</string>
								<key>itemState</key>
								<integer>1</integer>
								<key>representedObject</key>
								<dict>
									<key>hostIF</key>
									<integer>1</integer>
									<key>itemState</key>
									<integer>1</integer>
									<key>key</key>
									<string>ethernet0</string>
								</dict>
								<key>title</key>
								<string>NAT</string>
							</dict>
							<dict>
								<key>action</key>
								<string>setHostIFForDeviceItemWithKey:</string>
								<key>representedObject</key>
								<dict>
									<key>hostIF</key>
									<integer>0</integer>
									<key>itemState</key>
									<integer>0</integer>
									<key>key</key>
									<string>ethernet0</string>
								</dict>
								<key>title</key>
								<string>Bridged (Autodetect)</string>
							</dict>
							<dict>
								<key>action</key>
								<string>setHostIFForDeviceItemWithKey:</string>
								<key>representedObject</key>
								<dict>
									<key>hostIF</key>
									<integer>2</integer>
									<key>itemState</key>
									<integer>0</integer>
									<key>key</key>
									<string>ethernet0</string>
								</dict>
								<key>title</key>
								<string>Host-only</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>showSettingsForItemWithKey:</string>
								<key>representedObject</key>
								<string>ethernet0</string>
								<key>title</key>
								<string>Network Adapter Settings...</string>
							</dict>
						</array>
						<key>title</key>
						<string>Network Adapter</string>
					</dict>
					<dict>
						<key>submenuInfoArray</key>
						<array>
							<dict>
								<key>action</key>
								<string>disconnectDeviceItemWithKey:</string>
								<key>representedObject</key>
								<string>ide1:0</string>
								<key>title</key>
								<string>Disconnect CD/DVD</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>chooseBackendForItemWithKey:</string>
								<key>representedObject</key>
								<string>ide1:0</string>
								<key>title</key>
								<string>Choose Disc or Disc Image...</string>
							</dict>
							<dict>
								<key>enabled</key>
								<false/>
								<key>title</key>
								<string>SuperDrive</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>showSettingsForItemWithKey:</string>
								<key>representedObject</key>
								<string>ide1:0</string>
								<key>title</key>
								<string>CD/DVD (IDE) Settings...</string>
							</dict>
						</array>
						<key>title</key>
						<string>CD/DVD (IDE)</string>
					</dict>
					<dict>
						<key>submenuInfoArray</key>
						<array>
							<dict>
								<key>action</key>
								<string>disconnectDeviceItemWithKey:</string>
								<key>representedObject</key>
								<string>sound</string>
								<key>title</key>
								<string>Disconnect Sound Card</string>
							</dict>
							<dict>
								<key>separatorItem</key>
								<true/>
							</dict>
							<dict>
								<key>action</key>
								<string>showSettingsForItemWithKey:</string>
								<key>representedObject</key>
								<string>sound</string>
								<key>title</key>
								<string>Sound Card Settings...</string>
							</dict>
						</array>
						<key>title</key>
						<string>Sound Card</string>
					</dict>
					<dict>
						<key>action</key>
						<string>showSettingsForItemWithKey:</string>
						<key>representedObject</key>
						<string>USB</string>
						<key>title</key>
						<string>USB &amp; Bluetooth Settings...</string>
					</dict>
					<dict>
						<key>submenuInfoArray</key>
						<array>
							<dict>
								<key>action</key>
								<string>showSettingsForItemWithKey:</string>
								<key>representedObject</key>
								<string>Sharing</string>
								<key>title</key>
								<string>Sharing Settings...</string>
							</dict>
						</array>
						<key>title</key>
						<string>Sharing</string>
					</dict>
				</array>
				<key>title</key>
				<string>Virtual Machine</string>
			</dict>
			<dict>
				<key>submenuInfoArray</key>
				<array>
					<dict>
						<key>action</key>
						<string>switchToSingleWindowViewMode:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Single Window</string>
					</dict>
					<dict>
						<key>action</key>
						<string>switchToUnityViewMode:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Unity</string>
					</dict>
					<dict>
						<key>action</key>
						<string>switchToFullscreenViewMode:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Full Screen</string>
					</dict>
					<dict>
						<key>separatorItem</key>
						<true/>
					</dict>
					<dict>
						<key>action</key>
						<string>toggleShowTaskbarInUnityMode:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Show Taskbar in Unity</string>
					</dict>
					<dict>
						<key>action</key>
						<string>toggleShowSystemTray:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Hide System Tray in Unity</string>
					</dict>
					<dict>
						<key>action</key>
						<string>toggleFullScreenOnAllHostDisplays:</string>
						<key>enabled</key>
						<false/>
						<key>title</key>
						<string>Use All Displays in Full Screen</string>
					</dict>
					<dict>
						<key>submenuInfoArray</key>
						<array>
							<dict>
								<key>action</key>
								<string>onChangeShowFTBPref:</string>
								<key>title</key>
								<string>Always Show</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onChangeShowFTBPref:</string>
								<key>tag</key>
								<integer>1</integer>
								<key>title</key>
								<string>Automatically Hide and Show</string>
							</dict>
							<dict>
								<key>action</key>
								<string>onChangeShowFTBPref:</string>
								<key>itemState</key>
								<integer>1</integer>
								<key>tag</key>
								<integer>2</integer>
								<key>title</key>
								<string>Always Hide</string>
							</dict>
						</array>
						<key>title</key>
						<string>Full Screen Minibar</string>
					</dict>
				</array>
				<key>title</key>
				<string>View</string>
			</dict>
			<dict>
				<key>separatorItem</key>
				<true/>
			</dict>
			<dict>
				<key>action</key>
				<string>vmTogglePowerOnSuspend:</string>
				<key>altMenuItem</key>
				<dict>
					<key>action</key>
					<string>vmTogglePowerOnSuspendAlt:</string>
					<key>title</key>
					<string>Force Start Up</string>
				</dict>
				<key>title</key>
				<string>Start Up</string>
			</dict>
			<dict>
				<key>action</key>
				<string>vmPowerReset:</string>
				<key>altMenuItem</key>
				<dict>
					<key>action</key>
					<string>vmPowerResetAlt:</string>
					<key>enabled</key>
					<false/>
					<key>title</key>
					<string>Force Restart</string>
				</dict>
				<key>enabled</key>
				<false/>
				<key>title</key>
				<string>Restart</string>
			</dict>
			<dict>
				<key>action</key>
				<string>vmPowerOff:</string>
				<key>altMenuItem</key>
				<dict>
					<key>action</key>
					<string>vmPowerOffAlt:</string>
					<key>enabled</key>
					<false/>
					<key>title</key>
					<string>Force Shut Down</string>
				</dict>
				<key>enabled</key>
				<false/>
				<key>title</key>
				<string>Shut Down</string>
			</dict>
		</array>
		<key>frequentlyUsedApps</key>
		<array/>
		<key>pinnedApps</key>
		<array/>
		<key>searchableApps</key>
		<array/>
		<key>topMenu</key>
		<array/>
	</dict>
	<key>viewMode</key>
	<integer>1</integer>
	<key>vmUUID</key>
	<string></string>
</dict>
</plist>
